.estilo-titulo-seccion{
text-align: center;
font-family: 'Yusei Magic', sans-serif;

}
.estilo-formulario{
  font-family: 'Yusei Magic', sans-serif;
}
.centrado-formulario{
  display: flex;
  align-items: center; 
  
}
.texto-nosotros{
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  font-size:25px;
}
.estilo-contacto-mapa{
  display: flex;  
  flex-direction: row; 
   justify-content: center;
}
.estilo-contacto-lista{
  list-style:none;
  font-family: 'Yusei Magic', sans-serif;
  display: flex;     
  flex-direction: column; 
  justify-content: space-between;
  height: 200px;
}
.titulo-conctaco-mapa{
  font-family: 'Yusei Magic', sans-serif;
  font-size: 25px; 
  text-align: center;
}
.icono-contactos{
  display: inline-block;
}
.tamaño-icono{
  font-size: 25px;
}
.estilo-mapa{
  border:hidden 5px #75b3ac;
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright:15px;
-moz-border-radius-bottomleft:15px;
-moz-border-radius-bottomright:15px;
-webkit-border-top-left-radius:15px;
-webkit-border-top-right-radius:15px;
-webkit-border-bottom-left-radius:15px;
-webkit-border-bottom-right-radius:15px;
border-top-left-radius:15px;
border-top-right-radius:15px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
}
.estilo-imagen-nosotros{
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  border:none 5px #000000;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}
form{
  border:double 5px #74b3ac;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:6px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  border-top-left-radius:6px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
.imagen_principal{
    width: 100%;
    height:600px;
}
.estilo-letra-card{
    font-family: 'Yusei Magic', sans-serif;  
}

.estilo-parrafo-principal{
    
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
    
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}



/* End Non-Essential  */

.property-card
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

  background-size:cover;
  background-repeat:no-repeat;
}
.imagen1{
    background-image:url('https://image.freepik.com/vector-gratis/conjunto-elementos-libros-escolares_1284-34322.jpg');
}
.imagen2{
    background-image:url('https://image.freepik.com/vector-gratis/linea-decorativa-conjunto-carteles-arte-flores-hojas_1017-30504.jpg');
}
.imagen3{
    background-image:url('https://image.freepik.com/vector-gratis/lindos-juguetes-ninos-estan-estantes-parte-interior-habitacion-infantil-o-jugueteria-aislado-fondo-blanco_321061-246.jpg');
}
.imagen4{
    background-image:url('https://image.freepik.com/vector-gratis/ilustracion-mercado-pulgas-dibujado-mano-plana-personas_23-2148829660.jpg');
}
.imagen5{
    background-image:url('https://image.freepik.com/psd-gratis/diseno-mock-up-cuadro_1315-6.jpg');
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}
.estilo-box-card{
  width: 250px;
}
.flex-principal{
  display: flex;  
  flex-direction: row; 
  justify-content: space-between;
}



