body{
    background-color:#D9FFFB;}

.estilo-tarjeta{
    width: 18rem;
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
}
.estilo-imagen{
width: 80%;
height: 80%;
display:block;
margin:auto;
}